@charset "UTF-8";
/* CSS Document */

.usagi_m {
  top:800px;
  left:100px;
  overflow: hidden; /* スクロールバーが出ないように */
  position: relative; /* マーキーの内容部分の位置の基準になるように */
  width:400px;
  height:300px;
padding:0.5em 0;
margin-bottom:10px;
}

.marquee::after {
  content: "";
  white-space: 300px;
  display: inline-block;
}

.usagi_m > .usagi a{
  position: absolute;
  height:184px;
  weight:184px;
  background-image:url("usagi.png");
  top: 0;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
}

.usagi_m > .usagi a:hover {
	top:100px;
	width: 300px;
	height: 300px;
    background-image:url("うさぎ.gif");
  animation-play-state: paused;
  cursor: default;
}

@keyframes marquee {
    0% { left: 70%; transform: translate(0); }
  100% { left: 30%; transform: translate(-100%); }
}

.usagi a{
	display:block;
	position:absolute;
	top:850px;
	left:100px;
    width: 185px;
	height: 184px;
    background-image:url("usagi.png");
}
/*未訪問のリンク*/
.button01 a:link{
}
/*訪問済みのリンク*/
.button01 a:visited{
}
/*マウスホバー時*/

/*選択中*/
.button01 a:active{
}

/** マーキーさせたい部分 */
.rion_m {
	top:900px;
	left:700px;
  overflow: hidden; /* スクロールバーが出ないように */
  position: relative; /* マーキーの内容部分の位置の基準になるように */
  width:600px;
  height:300px;
padding:0.5em 0;
margin-bottom:10px;
}
 /* マーキーの内容部分の高さ確保 */
.marquee::after {
  content: "";
  white-space: 300px;
  display: inline-block;
}
/* マーキーさせたい部分(内側) */
.rion_m > .rion a{
  position: absolute;
  height:184px;
  weight:184px;
  background-image:url(rion.png);
  top: 0;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
}
/* マウスオーバーでマーキーストップ */
.rion_m > .rion a:hover {
	width: 300px;
	height: 300px;
    background-image:url("ライオン.gif");
  animation-play-state: paused;
  cursor: default;
}
/** マーキーアニメーション */
@keyframes marquee {
    0% { left: 70%; transform: translate(0); }
  100% { left: 30%; transform: translate(-100%); }
}

.rion a{
	display:block;
	position:absolute;
	top:1000px;
	left:700px;
    width: 185px;
	height: 184px;
    background-image:url("rion.png");  
}


.risu_m {
	display:block;
	top:300px;
	left:600px;
  overflow: hidden; /* スクロールバーが出ないように */
  position: relative; /* マーキーの内容部分の位置の基準になるように */
  width:600px;
  height:300px;
padding:0.5em 0;
margin-bottom:10px;
}

.risu_m::after {
  content: "";
  white-space: 300px;
  display: inline-block;
}

.risu_m > .risu a{
	display:block;
  position: absolute;
  height:370px;
  weight:320px;
  background-image:url("02 .png");
  top: 0;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
}

.risu_m > .risu a:hover {
	width: 370px;
	height: 320px;
    background-image:url("02 .png");
  animation-play-state: paused;
  cursor: default;
}

@keyframes marquee {
    0% { left: 65%; transform: translate(0); }
  100% { left: 35%; transform: translate(-100%); }
}

.risu a{
	display:block;
	position:absolute;
	top:900px;
	left:500px;
    width: 370px;
	height: 320px;
    background-image:url("02 .png");
	
}




.neko a:hover {
	width: 300px;
	height: 300px;
    background-image:url("ねこ.gif");
  animation-play-state: paused;
  cursor: default;
}
.neko a{
	display:block;
	position:absolute;
	top:950px;
	left:500px;
   width: 200px;
	height: 200px;
    background-image:url("neko_y.gif");
	
}





.kuma_m {
	top:150px;
	left:700px;
  overflow: hidden; /* スクロールバーが出ないように */
  position: relative; /* マーキーの内容部分の位置の基準になるように */
  width:700px;
  height:300px;
padding:0.5em 0;
margin-bottom:10px;
}

.kuma_m::after {
  content: "";
  white-space: 300px;
  display: inline-block;
}

.kuma_m > .kuma a{
  position: absolute;
  height:184px;
  weight:184px;
  background-image:url("kuma.png");
  top: 0;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
}

.kuma_m > .kuma a:hover {
	width: 300px;
	height: 300px;
    background-image:url("くま.gif");
  animation-play-state: paused;
  cursor: default;
}

@keyframes marquee {
    0% { left: 70%; transform: translate(0); }
  100% { left: 30%; transform: translate(-100%); }
}

.kuma a{
	display:block;
	position:absolute;
	top:800px;
	left:1200px;
    width: 185px;
	height: 184px;
    background-image:url("kuma.png");
	
  
}




.panda a:hover {
	width: 200px;
	height: 200px;
    background-image:url("panda_y.gif");
  animation-play-state: paused;
  cursor: default;
}

.panda a{
	display:block;
	position:absolute;
	top:1000px;
	left:1400px;
    width: 200px;
	height: 184px;
    background-image:url("panda_y.gif");
	
  
}

.buta_m {
	top:50px;
	left:2000px;
  overflow: hidden; /* スクロールバーが出ないように */
  position: relative; /* マーキーの内容部分の位置の基準になるように */
  width:364px;
  height:318px;
padding:0.5em 0;
margin-bottom:10px;
}

.buta_m::after {
  content: "";
  white-space: 300px;
  display: inline-block;
}

.buta_m > .buta a{
  position: absolute;
  height:364px;
  weight:318px;
  background-image:url("19 .png");
  top: 0;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
}

.buta_m > .buta a:hover {
	width: 364px;
	height: 318px;
    background-image:url("19 .png");
  animation-play-state: paused;
  cursor: default;
}

@keyframes marquee {
    0% { left: 70%; transform: translate(0); }
  100% { left: 30%; transform: translate(-100%); }
}

.buta a{
	display:block;
	position:absolute;
	top:1000px;
	left:1900px;
    width: 364px;
	height: 318px;
    background-image:url("19 .png");
	
}

.kirin a{
	display:block;
	position:absolute;
	top:800px;
	left:1800px;
    width: 300px;
	height: 300px;
    background-image:url("キリン.png");
	
  
}


/*文字のやつゾーン*/

.yokomuki_f a{
		position:absolute;
		top:350px;
		left:450px;
		width: 755px;
		height: 211px;
		background-image:url("yokomuki_n.png");
	
}

.hatena_f a{
	position:absolute;
	top:300px;
	left:550px;
    width: 461px;
	height: 323px;
    background-image:url("_.png");
}


.ikamaru_f a{
		position:absolute;
		top:350px;
		left:450px;
		width: 755px;
		height: 211px;
		background-image:url("ikamaru-.png");
	
}

.usagi_f a{
	position:absolute;
	top:300px;
	left:550px;
    width: 461px;
	height: 323px;
    background-image:url("usagi_n.png");
}
/*未訪問のリンク*/
.button01 a:link{
}
/*訪問済みのリンク*/
.usagi_f a:visited{
	background-image:url("ネームプレート-03.png")
}
/*マウスホバー時*/
.usagi_f a:hover{
    ;
}
/*選択中*/
.button01 a:active{
}


.rion_f a{
	position:absolute;
	top:300px;
	left:550px;
    width: 569px;
	height: 323px;
    background-image:url("rion_n.png");
}
.rion_f a:visited{
	background-image:url("ネームプレート-05.png")
}

.risu_f a{
	position:absolute;
	top:350px;
	left:450px;
    width: 755px;
	height: 212px;
    background-image:url("koreha.png");
}
.risu_f a:visited{
	background-image:url("ネームプレート-07.png")
}

.neko_f a{
	position:absolute;
	top:300px;
	left:550px;
    width: 461px;
	height: 323px;
    background-image:url("neko_n.png");
}
.neko_f a:visited{
	background-image:url("ネームプレート-09.png")
}

.kuma_f a{
	position:absolute;
	top:300px;
	left:550px;
    width: 461px;
	height: 323px;
    background-image:url("kuma_n.png");
}
.kuma_f a:visited{
	background-image:url("ネームプレート-11.png")
}

.panda_f a{
	position:absolute;
	top:300px;
	left:550px;
    width: 461px;
	height: 323px;
    background-image:url("panda_n.png");
}
.panda_f a:visited{
	background-image:url("ネームプレート-13.png")
}

.buta_f a{
	position:absolute;
	top:350px;
	left:450px;
    width: 755px;
	height: 212px;
    background-image:url("koreha.png");
}
.buta_f a:visited{
	background-image:url("ネームプレート-15.png")
}

.kirin_f a{
	position:absolute;
	top:300px;
	left:550px;
    width: 302px;
	height: 131px;
    background-image:url("ネームプレート-16.png");
}
.kirin_f a:visited{
	background-image:url("ネームプレート-17.png")
}

._f a{
	position:fixed;
}


/*_s系*/

.usagi_s a{
	position:fixed;
	top:-1px;
	left:217px;
	width:1183px;
	height:898px;
	background-image:url("usagi_s.gif");
}
.usagi_s a:hover{
	width: 1183px;
	height: 898px;
    background-image:url("usagi_s_modoru!.png");
}

/*工事中
.rion_s a{
	position:fixed;
	top:-1px;
	left:217px;
	width:1183px;
	height:898px;
	background-image:url("rion_s.gif");
}
.rion_s a:hover{
	width: 1183px;
	height: 898px;
    background-image:url("rion_s_modoru!.png");
}
*/

.neko_s a{
	position:fixed;
	top:200px;
	left:300px;
	width:1017px;
	height:496px;
	background-image:url("neko_s.png");
}


.kuma_s a{
	position:fixed;
	top:-1px;
	left:217px;
	width:1183px;
	height:898px;
	background-image:url("kuma_s.gif");
}
.kuma_s a:hover{
	width: 1183px;
	height: 898px;
    background-image:url("kuma_s_modoru!.png");
}

.panda_s a{
	position:fixed;
	top:-1px;
	left:217px;
	width:1183px;
	height:898px;
	background-image:url("panda_s.gif");
}
.panda_s a:hover{
	width: 1183px;
	height: 898px;
    background-image:url("panda_s_modoru!.png");
}


.kirin_s a{
	position:fixed;
	top:200px;
	left:300px;
	width:1017px;
	height:496px;
	background-image:url("kirin_s2.png");
}
.usagi_s a:hover{
	width: 1183px;
	height: 898px;
    background-image:url("usagi_s_modoru!.png");
}

.ikamaru_s a{
	position:fixed;
	top:-1px;
	left:217px;
	width:1183px;
	height:898px;
	background-image:url("ikamaru_sy.gif");
}

.ikamaru_s a:hover{
	position:fixed;
	top:-1px;
	left:217px;
	width:1183px;
	height:898px;
	background-image:url("ikamaru_s2h.gif");
}

.ikamaru_s2 a{
	position:fixed;
	top:-1px;
	left:217px;
	width:1183px;
	height:898px;
	background-image:url("ikamaru_sy2.png");
}
